<div id="song" class="absolute-box">
  <div class="current-wrapper">
    <p>Now playing:</p>
    <div id="current">
      <div class="current-left">
        <img class="artwork" v-attr="src: artwork">
      </div>
      <div class="current-right">
        <span>
          <span class="current-title">{{title}}</span>
          <br>
          <span class="current-artist">{{artist}}</span>
        </span>
      </div>
      <br class="clear">
    </div>
  </div>
  <div class="next-wrapper">
    <p>Next:</p>
    <div class="next-container">
      <ol id="next">
        <li v-repeat="items">
          <img class="artwork" v-attr="src: artwork">
          {{title}} / {{artist}}
        </li>
      </ol>
    </div>
  </div>
</div>
<div id="bg-container" class="overlay absolute-box"></div>

<script type="text/javascript">
var currentModel = {title: "", artist: "", artwork: ""};
var nextModels = [];
new Vue({
  el: '#current',
  data: currentModel
});
new Vue({
  el: 'head',
  data: currentModel
});
new Vue({
  el: '#next',
  data: { items: nextModels }
});

function areNextModelsChanged(nexts) {
  if (nexts.length != nextModels.length) {
    return true;
  }

  for (var i = 0; i < nexts.length; i++) {
    if (nexts[i]["artwork"] != nextModels[i]["artwork"]) {
      return true;
    }
  }

  return false;
}

var display = function(data) {
  if (data["current"] == null) {
    currentModel["title"] = "";
    currentModel["artist"] = "";
    currentModel["artwork"] = "";
    return;
  }

  currentModel["title"] = data["current"]["title"];
  currentModel["artist"] = data["current"]["artist"];
  currentModel["artwork"] = data["current"]["artwork"];

  if (areNextModelsChanged(data["next"])) {
    while(nextModels.shift() != undefined);

    var nexts = data["next"];
    for (var i = 0; i < nexts.length; i++) {
      nextModels.push(nexts[i]);
    }
  }

  var newArtwork = currentModel["artwork"];
  var oldArtwork = $("#bg-container").css("background-image");
  if (newArtwork != null && ("url(" + newArtwork + ")") != oldArtwork) {
    $("#bg-container").css("background-image", "url(" + newArtwork + ")");
  }
};

$.getJSON("<%= songs_index_path(format: :json) %>", function(data){
  display(data);
});

setInterval(function() {
  $.getJSON("<%= songs_index_path(format: :json) %>", function(data){
    display(data);
  });
}, 5000);

</script>

