<div id="song" class="absolute-box">
  <div style="margin: 60px">
    <p>Now playing:</p>
    <div id="current" style="font-size: 300%;text-shadow:3px 3px 3px #5f5f5f">
      <img class="artwork" src="{{artwork}}" style="width: 1em; height: 1em;">
      {{title}} / {{artist}}
    </div>
  </div>
  <div style="margin: 60px">
    <p>Next:</p>
    <div style="font-size: 150%">
      <ol id="next">
        <li v-repeat="items">
          <img class="artwork" src="{{artwork}}" style="width: 1em; height: 1em;">
          {{title}} / {{artist}}
        </li>
      </ol>
    </div>
  </div>
</div>
<div id="bg-container" class="overlay absolute-box"></div>

<script type="text/javascript">
var currentModel = {title: "", artist: "", artwork: ""};
var nextModels = [];
new Vue({
  el: '#current',
  data: currentModel
});
new Vue({
  el: 'head',
  data: currentModel
});
new Vue({
  el: '#next',
  data: { items: nextModels }
});

var display = function(data) {
  if (data["current"] == null) {
    return;
  }

  currentModel["title"] = data["current"]["title"];
  currentModel["artist"] = data["current"]["artist"];
  currentModel["artwork"] = data["current"]["artwork"];

  nextModels.length = 0;
  var nexts = data["next"];
  for (var i = 0; i < nexts.length; i++) {
    nextModels.push(nexts[i]);
  }

  var newArtwork = currentModel["artwork"];
  var oldArtwork = $("#bg-container").css("background-image");
  if (newArtwork != null && ("url(" + newArtwork + ")") != oldArtwork) {
    $("#bg-container").css("background-image", "url(" + newArtwork + ")");
  }
};

$.getJSON("<%= songs_index_path(format: :json) %>", function(data){
  display(data);
});

var dispatcher = new WebSocketRails("<%= request.host %>:<%= request.port %>/websocket", true)
dispatcher.bind("song_changed", function(data) {
  display(data);
});
</script>
